*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;    
}
body{
 width: 100%;
 height: auto;
}
header{
    width: 100%; 
    height: auto;
    position: fixed;
    align-items: center;
    padding: 30px 100px;
    background: white;
  
    /*add flexbox styles*/
  
    display: flex;
    justify-content: space-between;
    transition: 1s;
    z-index: 100000;
  }
  .logo1{
    widows: 60px;
    height: 40px;           
}
header nav{
  width: 100%;
  height: auto;
  text-align: center;
}
#check{
  display: none;    
}
.checkbtn{
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}
  nav ul li{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    line-height: 50px;
    list-style: none;
  }
  nav ul li a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
  }
  nav a:hover{
    text-decoration: none;
    color: rgb(159, 190, 17);
  }
  .logo2{
    widows: 60px;
    height: 40px;
    margin: 0px 0px 0px 0px;    
}  
  header.sticky{  
    padding: 10px 100px;  
    background: white;
  }
  header.sticky nav ul li a{
    color: gray;
  } 
.content-area{
  width: 100%;
  height: 100px;
  position: relative;
  top: 120px;
  background: gray;
  text-align: center;
  padding: 30px 0px 0px 0px;
}

.content-area ul li{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 13px;    
}
#cusCarousel .carousel-inner .item img{
  width: 100%;
  height: 400px;
}
.carousel-inner .item > img{
  -webkit-animation:thing 20s;
  -o-animation:thing 20s;
  animation:thing 20s ;
}
@keyframes thing{
  from{
    transform: scale(1, 1);
  }
  to{
    transform: scale(2, 2);
  }
}
.content{
  width: 70%;
  height: auto;
  margin: auto;
  text-align: center;
}
.content1{
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600 !important;
  color: #333;
  line-height: 1.5;
}
.content2{
  font-size: 20px;
  color: gray;
  font-family: inherit !important;
  font-weight: 200 !important;
  font-style: italic;
  line-height: 1.7;
}
.content3{
  width: 70%;
  height: auto;
  margin: auto;
}
.line1{
  height: 0.5px;
  background: #cfcc22;
}
.single-blog{
  margin: 30px 0px 30px 0px;
  padding: 50px 30px;
  transition: 0.90s;
  background: #f1f1f1;  
}
.single-blog i{
  font-size: 30px;
  color: green;
}
.single-blog h2{
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600 !important;
  color: #333;
}
.single-blog p{
  font-size: 17px;
  color: gray;
  font-family: inherit !important;
  font-weight: 200 !important;
}
.single-blog:hover{
  background: #8f8d19;
}
.content-area img{
  width: 100%;
  height: 200px;
}
.content-area p{
  font-size: 20px;
  color:white;
  margin-top: -120px;
  position: absolute;          
  font-family: 'Proxima Nova Thin', sans-serif;          
  width: 100%;
  height: auto;
  text-transform: uppercase;
  text-align: center;      
}
.about-content1{
  width: 60%;
  height: auto;
  margin: auto;
  padding: 60px 0px 40px 0px;
}
.about-content1 p{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: justify;
  text-justify: inter-word;
}
.about-content2{
  width: 60%;
  height: auto;
  margin: auto;
}
.about-content2 img{
  width: 100%;
  height: 200px;
}
.about-content2 p{
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: "poppins", sans-serif;
  letter-spacing: 1px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 30px;
  /*margin-top: -120px;
  position: absolute;  */     
}
.team-area{
  padding: 60px 0;
}
.section-heading{
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-family: bignoodletitling;
  letter-spacing: 5px;
}
.card{
  border: none;
}
.img-area{
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.img-area img{
  width: 180px;
  height: 180px;
}
.team-single{
  margin: 0px;
}
.team-single:hover .side-two{
  transform: rotateY(0deg);
  border-radius: 5px;
}
.team-single:hover .side-one{
  transform: rotateY(180deg);
}
.content-area2{
  transform: perspective(1000px);
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
  text-align: center;
}
.side-one{
  position: relative;
  transform: rotateY(0eg);
  z-index: 2;
  margin-top: 20px;
}
.side-two{
  position: absolute;
  top: 0;
  left: 0;
  background: #2c3e50;
  transform: rotateY(-180deg);
  margin-top: 80px;
}
.side-one, 
.side-two{
  backface-visibility: hidden;
  transition: 1s;
  transform-style: preserve-3d;
}
.side-one .card{

} 
.side-two .card{
  
} 
.side-two .card a{
  font-size: 18px;
  color: brown;  
} 
.side-one h4{
  color: brown;
  font-family: bignoodletitling;
  letter-spacing: 3px;
  font-size: 35px;
}
/*.side-two h4{
  color: brown;
  font-family: bignoodletitling;
  letter-spacing: 3px;
  font-size: 35px;
} 
.side-two p{
  font-size: 15px;
  font-family: merienda;
}*/
.side-one p{
  font-size: 15px;
  font-family: merienda;
}
.contact-content1{
  width: 90%;
  height: auto; 
  padding: 30px 0px;

  /*add flexbox styles*/

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: auto;
}
.contact-content1-left{
  width: 50%;
  height: auto;
  padding: 30px 0px;
  text-align: center;
}
.contact-content1-right{
  width: 40%;
  height: auto;
  padding: 50px 0px 0px 50px;
}
.box{
  width: 100%;
  display: block;
}
.box p{
  color: #8f8d19;
  text-transform: uppercase;
  font-family: bignoodletitling;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}
.box input[type = "text"]{
  width: 80%;
  padding: 14px 10px;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db; 
  border-radius: 10px;
  transition: 0.25s;
  font-size: 14px;
}
.box textarea{
  width: 80%;
  height: 200px;
  padding: 14px 10px;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db; 
  border-radius: 0px;
  transition: 0.25s;
  font-size: 14px;
}
.box input[type = "text"]:focus, .box textarea:focus{
  width: 90%;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  width: 40%;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #8f8d19;
  padding: 14px 0px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  transition: 0.25s;
  cursor: pointer;
  text-transform: capitalize;
}
.box input[type = "submit"]:hover{
  border: 6px solid #2ecc71;
}
.contact-content1-right p{
  font-size: 12px;
  line-height: 25px;
}
.nav-tabs .nav-item a{
  color: #3498db;
  font-family: verdana;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  box-shadow: 1px 1px 1px 1px grey;  
  font-weight: 200;
}
.tab-content > div h1{
  color: #2c3e50;
  font-family: verdana;
  text-align: justify;
  text-justify: inter-word;  
  padding-top: 30px;
}
.tab-content > div p{
  color: black;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  padding-top: 30px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 25px;
  letter-spacing: 1px;
}

   /*-------------------------------------------------------------------------------------
  RESPONSIVE STYLES
  -------------------------------------------------------------------------------------*/
  
  /* Large devices (large desktops, 11990px and up) */
  @media screen  and (min-width: 1199px)
  {
      
  }
  /* Large devices (large screen, 1024px and up) */
  @media screen and (max-width: 1199px) and (min-width: 1024px)
  { 
    header{
      padding: 30px 40px;
    }
    header .logo2{
      display: none
    } 
    header nav{
      display: block;
    }    
    header nav .checkbtn{
      display: none;
    }      
  }

  /* Medium devices (desktops, 992px and up) */
  @media screen and (max-width: 1023px) and (min-width: 700px)
  {
    header{
      padding: 30px 15px;
    }
    header .logo2{
      display: none
    } 
    header nav{
      text-align: left;
      display: block;
    }    
    header nav .checkbtn{
      display: none;
    } 
    header.sticky{  
      padding: 15px 20px;  
    }
  .content{
    width: 70%;
  }
  .contact-content1 .contact-content1-left{
    width: 100%;
  }
  .contact-content1 .contact-content1-right{
    width: 100%;
  }
  }

  @media screen and (max-width: 700px) and (min-width: 500px)
  {
    header{
      padding: 30px 80px;
    }
    header .logo1{
      display: none
    } 
    header nav{
      display: block;
    }    
    header nav .checkbtn{
      display: block;
    }
    header nav ul{
      position: fixed;
      width: 100%;
      height: auto;
      background: #2c3e50;
      top: 70px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    header nav ul li{
      display: block;
    }
    header nav ul li a{
      font-size: 10px;
    }
    #check:checked ~ ul{
      left: 0;
    }
    header.sticky{  
      padding: 30px 80px;  
    }
    .content-area{
      height: 250px;
    }
    .content-area ul li{
      line-height: 40px;    
    }
  .content{
    width: 70%;
  }
  .single-blog{
    margin: 0px 0px 0px 0px;
  }
  .contact-content1 .contact-content1-left{
    width: 100%;
  }
  .contact-content1 .contact-content1-right{
    width: 100%;
  }
}
  @media screen and (max-width: 500px)
  { 
  header{
    padding: 30px 10px;
  }
  header .logo1{
    display: none
  } 
  header nav{
    display: block;
  }    
  header nav .checkbtn{
    display: block;
  }
  header nav ul{
    position: fixed;
    width: 100%;
    height: auto;
    background: #2c3e50;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  header nav ul li{
    display: block;
  }
  header nav ul li a{
    font-size: 10px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .logo1{
    widows: 30px;
    height: 20px;           
}
  header.sticky{  
    padding: 30px 10px;  
  }
  .content-area{
    height: 250px;
  }
  .content-area ul li{
    line-height: 40px;    
  }
  .content{
    width: 70%;
  }
  .single-blog{
    margin: 0px 0px 0px 0px;
  }
  .about-content1{
    width: 90%;
  }
  .contact-content1 .contact-content1-left{
    width: 100%;
  }
  .contact-content1 .contact-content1-right{
    width: 100%;
    padding: 50px 0px 0px 10px;
  }
  
  }